<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /pdhnutrition/

    # Direct access to public assets
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Route all other requests to index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
